#fancy {
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#searchField {
    background-color: white;
}

#dateOutput {
    background-color: aquamarine;
}

#fileButton{
    
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
#output{
    border: black;
    width: inherit;
    /* background-color: blue; */
    border-style: solid;
    padding: 15px;
}