body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#fancy {
    background-color: black;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

#searchField {
    background-color: white;
}

#dateOutput {
    background-color: aquamarine;
}

<<<<<<< HEAD
#fileButton {
=======
#testButton{
    
>>>>>>> 420106eb603819f1348745e6a9794cfac03f6f03
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
<<<<<<< HEAD

#output {
    border: black;
=======
#output{
>>>>>>> 420106eb603819f1348745e6a9794cfac03f6f03
    width: inherit;
    /* background-color: blue; */
    padding: 15px;
}
<<<<<<< HEAD

#fileSelect {
    border-radius: 4px;
    background-color: black;
=======
#comment{
    color: rgb(112, 112, 112);
    font-size: 10px;
>>>>>>> 420106eb603819f1348745e6a9794cfac03f6f03
}